[Unit]
Description=Detect Worker DURIAN-A3 cam1 (192.168.0.240, Hamrol)
After=network-online.target mariadb.service
Wants=network-online.target

[Service]
Type=simple
User=ekapop
WorkingDirectory=/home/ekapop/smartfarm/scripts
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/ekapop/venv/yolo/bin/python /home/ekapop/smartfarm/scripts/detect_worker_zone3_cam1_v2.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
